* {
      background:     #24273A;
      foreground:     #CAD3F5;
      selected:       #8AADF4;
      highlight:      #EED49F;
      urgent:         #ED8796;
      on:             #A6DA95;
      off:            #ED8796;
}